/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .twitter {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .genre {
    width: 100%;
  }

  .message-wrapper {
    text-align: center;
  }

  .message-wrapper img{
    display: block;
    margin-left: 10px;
    margin-right: auto;
  }

  .message-wrapper h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .message-wrapper h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .message {
    width: 100%;
  }

  .newsletter {
    text-align: center;
  }

  footer {
    text-align: center;
  }
}
