
@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype'),
         url('fonts/Lato-Regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold.woff') format('woff'),
         url('fonts/Lato-Bold.ttf') format('truetype'),
         url('fonts/Lato-Bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HoneyLight';
    src: url('fonts/honeyscript-light-webfont.eot');
    src: url('fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript-light-webfont.woff') format('woff'),
         url('fonts/honeyscript-light-webfont.ttf') format('truetype'),
         url('fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
  box-sizing: border-box;
}

:root {
  --mainColor: #ffffff;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(wallpaper.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.top-wrapper h1 {
  /*opacity: 0.7;*/
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.top-wrapper h1:before {
  content: '';
  position: absolute;
  border: #f0932b solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.top-wrapper h1:hover:before, .top-wrapper h1:focus:before, .top-wrapper h1:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.animate__animated.animate__bounce {
  --animate-duration: 10s;
}

.top-wrapper h2 {
  color: #f0932b;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.top-wrapper h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.top-wrapper h2:hover, .top-wrapper h2:focus, .top-wrapper h2:active {
  color: white;
}
.top-wrapper h2:hover:before, .top-wrapper h2:focus:before, .top-wrapper h2:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.top-wrapper h3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.top-wrapper h3:before, .top-wrapper h3:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.top-wrapper h3:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

.top-wrapper h3:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

.top-wrapper h3:hover:before, .top-wrapper h3:focus:before, .top-wrapper h3:active:before, .top-wrapper h3:hover:after, .top-wrapper h3:focus:after, .top-wrapper h3:active:after {
  opacity: 1;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
}

.instagram {
  background-color: #c13584;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.genre-wrapper {
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.genre {
  float: left;
  width: 25%;
}

.genre-icon {
  position: relative;
}

.genre p {
  /*position: absolute;
  top: 44%;
  width: 100%;
  color: white;*/

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.genre p:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.genre p:hover, .genre p:focus, .genre p:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.genre p:hover:before, .genre p:focus:before, .genre p:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f6e58d;
}

@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.message-wrapper h1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  /*
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  */
}

.message-wrapper h1:hover, .message-wrapper h1:focus, .message-wrapper h1:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /*
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  */
}

.message {
  padding: 15px 40px;
  background-color: #f0c689;
  cursor: pointer;
  box-shadow: 0 7px #f0932b;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.container span {
  color: #ff4a4a;
  font-weight: bold;
}

input {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  /*padding-top: 30px;
  padding-bottom: 20px;*/
  background-color: #182C61;
  color: #fff;
  height: 140px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-nav {
  float: right;
}

.footer-nav li {
  padding-bottom: 20px;
  font-size: 20px;
}

.footer-item a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #f0932b;
    text-decoration: none;
}

.footer-item a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.newsletter{
	width: 100%;
	height: 180px;
	background: #f0932b url('images/newsletter_pat.png') repeat;
	background-position: 0 -20px;
	overflow: hidden;
	position: relative;
}

.newsletter p{
	width: 100%;
	/*color: #fff;*/
	font-family: "LatoBold", arial;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
	/*float: left;
  margin-left: 100px;*/
  margin-left: auto;
  margin-right: auto;
	line-height: 40px;

  color: var(--mainColor);
  text-decoration: none;
}

.newsletter p:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
.newsletter p:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

.newsletter .sub_form{
	/*float: right;
	margin-top: 57px;
  margin-right: 50px;*/
  margin-left: auto;
  margin-right: auto;
	width: 360px;
	height: 62px;
	background: #ffffff;
	border-radius: 100px;
	border: 2px #e19646 solid;
}

.newsletter .email_field,
.newsletter .name_field{
	border: none;
	outline: none;
	background: #ffffff;
	width: 110px;
	height: 40px;
	padding: 0 20px;
	color: #130f40;
	font-family: "LatoRegular", arial;
	font-size: 14px;

}

.newsletter .submit_nl{
	height: 40px;
	padding: 0;
	border: 0;
	color: #fdfdfd;
	font-family: "LatoBold", arial;
	font-size: 14px;
	font-weight: bold;
	background-color: #575351;
	float: right;
	margin-right: 10px;
	margin-top: 11px;
	outline: none;
  width: 110px;

	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.newsletter .submit_nl:hover{
	cursor: pointer;
	background: #4f4c49;
}

.newsletter .email_field::-webkit-input-placeholder,
.newsletter .name_field::-webkit-input-placeholder {
   color: #130f40;
}

.newsletter .email_field:-moz-placeholder ,
.newsletter .name_field:-moz-placeholder {
   color: #130f40;
}

.newsletter .email_field::-moz-placeholder ,
.newsletter .name_field::-moz-placeholder {
   color: #130f40;
}

.newsletter .email_field:-ms-input-placeholder,
.newsletter .name_field:-ms-input-placeholder {
   color: #130f40;
}

.newsletter .email_field{
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-right: 1px #e4e4e4 solid;
}

.newsletter .name_field{
	padding-right: 0;
}

.newsletter .submit_nl{
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
}

.rights{
	color: #a5a5a5;
	font-family: "LatoRegular", arial;
	font-size: 13px;
	letter-spacing: .5px;
  background-color: #182C61;
  text-align: center;
}

.rights a{
	font-family: 'Latobold', arial;
	font-weight: bold;
	color: #777777;
	text-decoration: none;
}

h5 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 100%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
