
@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype'),
         url('fonts/Lato-Regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold.woff') format('woff'),
         url('fonts/Lato-Bold.ttf') format('truetype'),
         url('fonts/Lato-Bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HoneyLight';
    src: url('fonts/honeyscript-light-webfont.eot');
    src: url('fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript-light-webfont.woff') format('woff'),
         url('fonts/honeyscript-light-webfont.ttf') format('truetype'),
         url('fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(wallpaper.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.animate__animated.animate__bounce {
  --animate-duration: 10s;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
}

.instagram {
  background-color: #c13584;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.genre-wrapper {
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.genre {
  float: left;
  width: 25%;
}

.genre-icon {
  position: relative;
}

.genre-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center; 
}

.message {
  padding: 15px 40px;
  background-color: #f6e58d;
  cursor: pointer;
  box-shadow: 0 7px #f0932b;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.container span {
  color: #ff4a4a;
  font-weight: bold;
}

input {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  /*padding-top: 30px;
  padding-bottom: 20px;*/
  background-color: #182C61;
  color: #fff;
  height: 140px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

/* Ketik code Anda dibawah */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.newsletter{
	width: 100%;
	height: 180px;
	background: #f0932b url('images/newsletter_pat.png') repeat;
	background-position: 0 -20px;
	overflow: hidden;
	position: relative;
}

.newsletter p{
	width: 100%;
	color: #fff;
	font-family: "LatoBold", arial;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
	/*float: left;
  margin-left: 100px;*/
  margin-left: auto;
  margin-right: auto;
	line-height: 40px;
}

.newsletter .sub_form{
	/*float: right;
	margin-top: 57px;
  margin-right: 50px;*/
  margin-left: auto;
  margin-right: auto;
	width: 360px;
	height: 62px;
	background: #ffffff;
	border-radius: 100px;
	border: 2px #e19646 solid;
}

.newsletter .email_field,
.newsletter .name_field{
	border: none;
	outline: none;
	background: #ffffff;
	width: 110px;
	height: 40px;
	padding: 0 20px;
	color: #949494;
	font-family: "LatoRegular", arial;
	font-size: 14px;

}

.newsletter .submit_nl{
	height: 40px;
	padding: 0 40px;
	border: 0;
	color: #fdfdfd;
	font-family: "LatoBold", arial;
	font-size: 17px;
	font-weight: bold;
	background-color: #575351;
	float: right;
	margin-right: 10px;
	margin-top: 11px;
	outline: none;
  width: 110px;

	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.newsletter .submit_nl:hover{
	cursor: pointer;
	background: #4f4c49;
}

.newsletter .email_field::-webkit-input-placeholder,
.newsletter .name_field::-webkit-input-placeholder {
   color: #d3d2d2;
}

.newsletter .email_field:-moz-placeholder ,
.newsletter .name_field:-moz-placeholder {
   color: #d3d2d2;
}

.newsletter .email_field::-moz-placeholder ,
.newsletter .name_field::-moz-placeholder {
   color: #d3d2d2;
}

.newsletter .email_field:-ms-input-placeholder,
.newsletter .name_field:-ms-input-placeholder {
   color: #d3d2d2;
}

.newsletter .email_field{
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-right: 1px #e4e4e4 solid;
}

.newsletter .name_field{
	padding-right: 0;
}

.newsletter .submit_nl{
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
}

.rights{
	color: #a5a5a5;
	font-family: "LatoRegular", arial;
	font-size: 13px;
	letter-spacing: .5px;
  background-color: #182C61;
  text-align: center;
}

.rights a{
	font-family: 'Latobold', arial;
	font-weight: bold;
	color: #777777;
	text-decoration: none;
}

h5 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 100%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
